.DS_Store
.idea
.tscache
.baseDir.js
.baseDir.ts
yarn.lock
.nyc_output
yarn-error.log

/src/typings/typescript/typescript.js

/tmp/
/etc/
/examples/
/node_modules/
/typescript/
/coverage/
/dist/
/test/
/src/test
package-lock.json
